default menu.c32
prompt 0
timeout 120

menu title PXE Menu

LABEL local
  MENU LABEL Boot from local disk
  LOCALBOOT 0

LABEL Rocky Linux 8
  MENU LABEL Rocky Linux 8 (Automated Kickstart)
  KERNEL images/vmlinuz
  append netboot=nfs root=/dev/nfs nfsroot=10.0.0.16:/export/NETBACKUP/private/rl8/ initrd=images/initrd.img inst.ks=nfs:10.0.0.16:/export/NETBACKUP/private/rl8-ks.cfg inst.repo=nfs:10.0.0.16:/export/NETBACKUP/private/rl8/ inst.ks.device=net0 ip=dhcp