default menu.c32
prompt 0
timeout 120

menu title PXE Menu

LABEL Rocky Linux 8 (Automated Kickstart)
MENU LABEL Rocky Linux 8
KERNEL images/vmlinuz
append netboot=nfs root=/dev/nfs nfsroot={{ nfs_ip }}:/NFS/rl8/ initrd=images/initrd.img inst.ks=nfs:{{ nfs_ip }}:/NFS/ks/rl8-ks.cfg inst.repo=nfs:{{ nfs_ip }}:/NFS/rl8/ inst.text inst.gpt rd.driver.blacklist=nouveau

LABEL local
  MENU LABEL Boot from local disk
  LOCALBOOT 0