---
- name: Populate service facts
  ansible.builtin.service_facts: {}

- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Setup Nginx
  ansible.builtin.include_tasks: nginx.yml

- name: Setup Registry
  ansible.builtin.include_tasks: registry.yml

- name: Setup Registry-UI
  ansible.builtin.include_tasks: registry-ui.yml
  