---
- name: Populate service facts
  ansible.builtin.service_facts: {}

- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Setup Nginx
  ansible.builtin.include_tasks: nginx.yml

- name: Setup Artifactory for Debian
  ansible.builtin.include_tasks: artifactory-deb.yml
  when:
    - ansible_os_family == "Debian"
    - "'jfrog-artifactory-oss' not in ansible_facts.packages"

- name: Setup Registry
  ansible.builtin.include_tasks: registry.yml

- name: Setup Registry-UI
  ansible.builtin.include_tasks: registry-ui.yml
  