--- 

# Create nginx structure
- name: Create nginx structure
  ansible.builtin.file:
    path: "{{ app_dir }}/nginx/{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - conf.d
    - ssl

- name: Copy certs to nginx
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/tls.cert', dest: '{{ app_dir }}/nginx/ssl/tls.cert' }
    - { src: 'files/tls.key', dest: '{{ app_dir}}/nginx/ssl/tls.key' }

- name: Copy configs to nginx
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ app_dir }}/nginx/conf.d/{{ item }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - registry-ui.conf
    - registry.conf
  notify: Restart docker
  