---

# Create Apps Directory
- name: Create apps directory
  ansible.builtin.file:
    path: "{{ app_dir }}/{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - docker-registry-ui
    - nginx
    - registry
    - artifactory

# Create registry structure
- name: Create registry data
  ansible.builtin.file:
    path: "{{ app_dir }}/registry/data"
    state: directory
    mode: '0755'
    owner: root

- name: Create registry domain
  ansible.builtin.file:
    path: /etc/docker/certs.d/{{ domain }}
    state: directory
    mode: '0755'
    owner: root

# Copy registry stack & cert
- name: Copy registry stack & cert
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/registry-stack.yml', dest: '{{ app_dir }}/registry/registry-stack.yml' }
    - { src: 'files/tls.cert', dest: '/etc/docker/certs.d/{{ domain }}/tls.cert' }
    - { src: 'files/tls.key', dest: '/etc/docker/certs.d/{{ domain }}/tls.key' }

# Add daemon config
- name: Copy daemon.json
  ansible.builtin.template:
    src: "daemon.json.j2"
    dest: "/etc/docker/daemon.json"
  notify: Restart docker

# Copy repos to registry
- name: Copy repos to registry
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ app_dir }}/registry/{{ item }}"
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - apache
    - artifactory
    - bitnami
    - debian
    - gitlab-ee
    - gitlab-runner-helper
    - gitlab-runner
    - httpd
    - nginx
    - postgres
    - rockylinux
    - ubuntu
    - repo-clean
    