---

# Create Apps Directory
- name: Create apps directory
  ansible.builtin.file:
    path: "{{ app_dir }}/{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - registry

# Create registry structure
- name: Create registry data
  ansible.builtin.file:
    path: "{{ registry_dir }}/{{ item }}"
    state: directory
    mode: '0755'
    owner: root
  loop:
    - data
    - auth
    - repos
    - ui

- name: Create registry domain
  ansible.builtin.file:
    path: /etc/docker/certs.d/{{ domain }}
    state: directory
    mode: '0755'
    owner: root

# Copy registry stack & cert
- name: Copy registry stack & cert
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/registry-stack.yml', dest: '{{ registry_dir }}/registry-stack.yml' }
    - { src: 'files/tls.cert', dest: '/etc/docker/certs.d/{{ domain }}/tls.cert' }
    - { src: 'files/tls.key', dest: '/etc/docker/certs.d/{{ domain }}/tls.key' }

# Copy repos to registry
- name: Copy repos to registry
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ registry_dir }}/repos/{{ item }}"
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - apache
    - artifactory
    - bitnami
    - debian
    - gitlab-ee
    - gitlab-runner-helper
    - gitlab-runner
    - httpd
    - nginx
    - postgres
    - rockylinux
    - ubuntu

# Clone registry-ui repo
- name: Clone docker-registry-ui
  ansible.builtin.git:
    repo: 'https://github.com/Joxit/docker-registry-ui.git'
    dest: "{{ registry_ui_dir }}"
    single_branch: yes
    version: main
    update: yes
    force: yes

# Start registry stack
- name: Start registry stack
  ansible.builtin.command:
    chdir: "{{ registry_dir }}"
    cmd: "docker compose -f registry-stack.yml up -d"
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 10

# Display compose output
- name: Display compose result standard output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ compose_result.stdout_lines }}"
  when: compose_result.stdout_lines is defined

# Copy registry nginx config
- name: Copy registry nginx config
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ nginx_dir }}/conf.d/{{ item }}"
    mode: 0644
    owner: root
  loop:
    - registry.conf
    - registry-ui.conf
  notify: Restart nginx

# Add daemon config
- name: Copy daemon.json
  ansible.builtin.template:
    src: "templates/daemon.json.j2"
    dest: "/etc/docker/daemon.json"
    mode: 0644
    owner: root
  notify: Restart docker
    