--- 
# Create PXE structure
- name: Create pxe structure
  ansible.builtin.file:
    path: "{{ base_dir }}/{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - apps
    - apps/pxe
    - apps/pxe/images
    - apps/pxe/pxelinux.cfg

# Cpoy PXE config
- name: Copy PXE config
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '0644'
    owner: "{{ app_user }}"
  loop:
    - { src: 'pxelinux.0', dest: '{{ base_dir }}/apps/pxe/pxelinux.0' }
    - { src: 'ldlinux.c32', dest: '{{ base_dir }}/apps/pxe/ldlinux.c32' }
    - { src: 'libutil.c32', dest: '{{ base_dir }}/apps/pxe/libutil.c32' }
    - { src: 'menu.c32', dest: '{{ base_dir }}/apps/pxe/menu.c32' }
    - { src: 'memdisk', dest: '{{ base_dir }}/apps/pxe/memdisk' }

# Copy PXE default config
- name: Copy PXE default config
  ansible.builtin.template:
    src: "default.j2"
    dest: "{{ base_dir }}/apps/pxe/pxelinux.cfg/default"
    mode: '0644'
    owner: "{{ app_user }}"

# Download images
- name: Download images
  ansible.builtin.get_url:
    url: "{{ images_url }}/{{ item }}"
    dest: "{{ base_dir }}/apps/pxe/images/{{ item }}"
    mode: '0644'
    owner: "{{ app_user }}"
  loop:
    - vmlinuz
    - initrd.img    
    
