--- 
# Create PXE structure
- name: Create pxe structure
  ansible.builtin.file:
    path: "{{ pxe_dir }}/{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - images
    - ks
    - pxelinux.cfg

# Cpoy PXE config
- name: Copy PXE config
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '0644'
    owner: "{{ app_user }}"
  loop:
    - { src: 'default', dest: '{{ pxe_dir }}/pxelinux.cfg/default' }
    - { src: 'pxelinux.0', dest: '{{ pxe_dir }}/pxelinux.0' }
    - { src: 'ldlinux.c32', dest: '{{ pxe_dir }}/ldlinux.c32' }
    - { src: 'libutil.c32', dest: '{{ pxe_dir }}/libutil.c32' }
    - { src: 'menu.c32', dest: '{{ pxe_dir }}/menu.c32' }
    - { src: 'memdisk', dest: '{{ pxe_dir }}/memdisk' }

# Download images
- name: Download images
  ansible.builtin.get_url:
    url: "{{ images_url }}/{{ item }}"
    dest: "{{ pxe_dir }}/images/{{ item }}"
    mode: '0644'
    owner: "{{ app_user }}"
  loop:
    - vmlinuz
    - initrd.img    
    
