---
# Clone Dragonfly Repo
- name: Clone dragonflydb
  ansible.builtin.git:
    repo: 'https://github.com/dragonflyoss/dragonfly.git'
    dest: "{{ dragonfly_dir }}"
    single_branch: yes
    version: main
    update: yes
    force: yes
    onwer: "{{ app_user }}"

# Create Config Directory
- name: Create config directory
  ansible.builtin.file:
    path: "{{ df_compose_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - cert
    - config
    - log

# Copy dragonfly config files
- name: Copy dragonfly config files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0664
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/docker-compose.yaml', dest: '{{ df_compose_dir }}/docker-compose.yaml' }
    - { src: 'files/tls.cert', dest: '{{ df_compose_dir }}/cert/server.crt' }
    - { src: 'files/tls.key', dest: '{{ df_compose_dir }}/cert/server.key' }
    #- { src: 'files/dragonfly.conf', dest: '{{ nginx_dir }}/conf.d/dragonfly.conf' }

# Start Dragonfly
- name: Start dragonfly
  ansible.builtin.shell:
    chdir: "{{ df_compose_dir }}"
    cmd: |
      rm -f config/*.yaml
      export IP="{{ srv_ip }}"
      ./run.sh
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 15

# Display compose output
- name: Display compose result standard output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ compose_result.stdout_lines }}"
  when: compose_result.stdout_lines is defined

# Copy Dragonfly nginx config
- name: Copy dragonfly nginx config
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ nginx_dir }}/conf.d/{{ item }}"
    mode: 0644
    owner: root
  loop:
    - dragonfly.conf
  notify: Restart nginx

# Copy docker daemon config
- name: Copy docker daemon config
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "/etc/docker/{{ item }}"
    mode: 0644
    owner: root
  loop:
    - daemon.json
  notify: Restart docker