---
# Create Config Directory
- name: Create config directory
  ansible.builtin.file:
    path: "{{ df_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - cert
    - config
    - log

# Download Dragonfly package
- name: Copy and extract tar file
  ansible.builtin.unarchive:
    src: "{{ df_pkg }}"  # Path to the archive on the Ansible control machine
    dest: "{{ df_dir }}"             # Absolute path on the remote host where the archive will be extracted
    remote_src: no                    # Set to 'yes' if the archive is already on the remote host
    owner: "{{ app_user }}"            # (Optional) User to own the extracted files
    #mode: '0755'                       # (Optional) Permissions for the extracted files
    #extra_opts: ['--strip-components=1'] # (Optional) Pass extra options to the unarchive command (e.g., to strip directories)

# Copy config files
- name: Copy dragonfly config files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0664
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/docker-compose.yaml', dest: '{{ df_dir }}/docker-compose.yaml' }
    - { src: 'files/tls.cert', dest: '{{ df_dir }}/cert/server.crt' }
    - { src: 'files/tls.key', dest: '{{ df_dir }}/cert/server.key' }
    - { src: 'files/dragonfly.conf', dest: '{{ nginx_dir }}/conf.d/dragonfly.conf' }

# Start Dragonfly
- name: Start dragonfly
  ansible.builtin.shell:
    chdir: "{{ df_dir }}"
    cmd: |
      rm -f config/*.yaml
      export IP="{{ srv_ip }}"
      ./run.sh
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 10

# Display compose output
- name: Display compose result standard output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ compose_result.stdout_lines }}"
  when: compose_result.stdout_lines is defined

# Copy docker daemon config
- name: Copy docker daemon config
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "/etc/docker/{{ item }}"
    mode: 0644
    owner: root
  loop:
    - daemon.json
  notify: Restart docker