---
# Create Nginx Directory
- name: Create nginx directory
  ansible.builtin.file:
    path: "{{ nginx_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - conf.d
    - ssl

# Copy certs & config
- name: Copy certs
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/tls.cert', dest: '{{ nginx_dir }}/ssl/tls.cert' }
    - { src: 'files/tls.key', dest: '{{ nginx_dir }}/ssl/tls.key' }
    - { src: 'files/nginx-lb.yaml', dest: '{{ nginx_dir }}/nginx-lb.yaml' }

# Deploy Nginx Load Balancer
- name: Deploy nginx load balancer
  ansible.builtin.command:
    cmd: "docker compose -f nginx-lb.yaml up -d"
    chdir: "{{ nginx_dir }}"
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 10

# Copy dragonfly config to nginx
- name: Copy dragonfly config to nginx
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ nginx_dir }}/conf.d/{{ item }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - dragonfly.conf
  notify: Restart docker