---
# Create Nginx Directory
- name: Create nginx directory
  ansible.builtin.file:
    path: "{{ app_dir }}/nginx/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - conf.d
    - ssl

# Copy certs & config
- name: Copy certs
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/tls.cert', dest: '{{ app_dir }}/nginx/ssl/tls.cert' }
    - { src: 'files/tls.key', dest: '{{ app_dir }}/nginx/ssl/tls.key' }
    - { src: 'files/nginx-lb.yaml', dest: '{{ app_dir }}/nginx/nginx-lb.yaml' }

- name: Copy configs to nginx
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ app_dir }}/nginx/conf.d/{{ item }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - nginx-lb.conf
  notify: Restart docker

# Deploy Nginx Load Balancer
- name: Deploy nginx load balancer
  ansible.builtin.command:
    cmd: "docker compose -f nginx-lb.yaml up -d"
    chdir: "{{ app_dir }}/nginx"
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 10