---
# Create Apps Directory
- name: Create apps directory
  ansible.builtin.file:
    path: "{{ app_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - airsonic
    - compose
    - monitoring
    - nginx
    - portainer
    - vault

# Copy apps stack
- name: Copy Apps stack
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/airsonic-stack.yml', dest: '{{ compose_dir }}/airsonic-stack.yml' }
    - { src: 'files/portainer-stack.yml', dest: '{{ compose_dir }}/portainer-stack.yml' }
    - { src: 'files/nginx-stack.yml', dest: '{{ compose_dir }}/nginx-stack.yml' }
    - { src: 'files/vault-stack.yml', dest: '{{ compose_dir }}/vault-stack.yml' }
  