---

# Clone Dragonfly Repo
- name: Clone dragonflydb
  ansible.builtin.git:
    repo: 'https://github.com/dragonflyoss/dragonfly.git'
    dest: "{{ dragonfly_dir }}"
    single_branch: yes
    version: main
    update: yes
    force: yes

# Create Config Directory
- name: Create config directory
  ansible.builtin.file:
    path: "{{ df_compose_dir }}/{{ item}}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - config
    - log
    - ssl

# Copy config files
- name: Copy dragonfly config files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/dragonfly-stack.yaml', dest: '{{ df_compose_dir }}/docker-compose.yaml' }
    - { src: 'files/{{ domain }}.cert', dest: '{{ df_compose_dir }}/ssl/server.crt' }
    - { src: 'files/{{ domain }}.key', dest: '{{ df_compose_dir }}/ssl/server.key' }

# Copy dfconfig template
- name: Copy dfconfig template
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ df_compose_dir }}/config/{{ item }}"
    mode: 0644
  loop:
    - client.yaml
    - manager.yaml
    - scheduler.yaml
    - seed-client.yaml

# Start Dragonfly
- name: Start dragonfly
  ansible.builtin.command:
    chdir: "{{ df_compose_dir }}"
    cmd: |
      ./run.sh
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 10

# Display compose output
- name: Display compose result standard output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ compose_result.stdout_lines }}"
  when: compose_result.stdout_lines is defined

# Copy docker config 
- name: Copy daemon.json
  ansible.builtin.template:
    src: "daemon.json.j2"
    dest: "/etc/docker/daemon.json"
  notify: Restart docker