---
# Create Grafana Directory
- name: Create grafana directory
  ansible.builtin.file:
    path: "{{ grafana_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - config
    - data

# Copy granafa config
- name: Copy grafana config
  ansible.builtin.copy:
    src: "grafana.ini"
    dest: "{{ grafana_dir }}/config/grafana.ini"
    mode: 0644
    owner: "{{ app_user }}"
