---
# Create Influxdb2 Directory
- name: Create influxdb directory
  ansible.builtin.file:
    path: "{{ influxdb_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - config
    - data
