---
# Create Nginx Directory
- name: Create nginx directory
  ansible.builtin.file:
    path: "{{ app_dir }}/nginx/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - conf.d
    - ssl

# Copy certs & config
- name: Copy certs & config
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/{{ domain }}.cert', dest: '{{ app_dir }}/nginx/ssl/{{ domain }}.cert' }
    - { src: 'files/{{ domain }}.key', dest: '{{ app_dir }}/nginx/ssl/{{ domain }}.key' }
    - { src: 'files/airsonic.conf', dest: '{{ app_dir }}/nginx/conf.d/airsonic.conf' }
    - { src: 'files/grafana.conf', dest: '{{ app_dir }}/nginx/conf.d/grafana.conf' }
    - { src: 'files/tig.conf', dest: '{{ app_dir }}/nginx/conf.d/tig.conf' }
    - { src: 'files/vault.conf', dest: '{{ app_dir }}/nginx/conf.d/vault.conf' }
    - { src: 'files/nginx-lb.conf', dest: '{{ app_dir }}/nginx/conf.d/nginx-lb.conf' }
