---
# Create Portainer Directory
- name: Create portainer directory
  ansible.builtin.file:
    path: "{{ portainer_dir }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"

# Start Portainer Stack
- name: Start portainer stack
  ansible.builtin.command:
    chdir: "{{ compose_dir }}"
    cmd: |
      docker compose -f portainer-stack.yml up -d
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 10

# Display compose output
- name: Display compose result standard output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ compose_result.stdout_lines }}"
  when: compose_result.stdout_lines is defined