---
# Create Telegraf Directory
- name: Create grafana directory
  ansible.builtin.file:
    path: "{{ telegraf_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - config
    - data

# Copy telegraf config
- name: Copy telegraf config
  ansible.builtin.copy:
    src: "telegraf.conf"
    dest: "{{ telegraf_fir }}/config/telegraf.conf"
    mode: 0644
    owner: "{{ app_user }}"
    