---
# Create Telegraf Directory
- name: Create grafana directory
  ansible.builtin.file:
    path: "{{ telegraf_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - config
    - data

# Copy telegraf config
- name: Copy telegraf config
  ansible.builtin.copy:
    src: "telegraf.conf"
    dest: "{{ telegraf_dir }}/config/telegraf.conf"
    mode: 0644
    owner: "{{ app_user }}"

# Create Influxdb2 Directory
- name: Create influxdb directory
  ansible.builtin.file:
    path: "{{ influxdb_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - config
    - data

# Create Grafana Directory
- name: Create grafana directory
  ansible.builtin.file:
    path: "{{ grafana_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - config
    - data
    - ssl

# Copy granafa config
- name: Copy grafana config
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/grafana.ini', dest: '{{ grafana_dir }}/config/grafana.ini' }
    - { src: 'files/{{ domain }}.cert', dest: '{{ grafana_dir }}/ssl/grafana.crt' }
    - { src: 'files/{{ domain }}.key', dest: '{{ grafana_dir }}/ssl/grafana.key' }

# Start TIG Stack
- name: Start TIG stack
  ansible.builtin.command:
    chdir: "{{ compose_dir }}"
    cmd: "docker compose -f tig-stack.yml up -d"
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 10

# Display compose output
- name: Display compose result standard output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ compose_result.stdout_lines }}"
  when: compose_result.stdout_lines is defined
