---
# Create Vault Directory
- name: Create vault directory
  ansible.builtin.file:
    path: "{{ vault_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - config
    - data
    - logs
    - plugins
    - ssl

# Copy vault config & cert
- name: Copy vault config and cert
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/{{ domain }}.cert', dest: '{{ vault_dir }}/ssl/{{ domain }}.crt' }
    - { src: 'files/{{ domain }}.key', dest: '{{ vault_dir }}/ssl/{{ domain }}.key' }
    - { src: 'files/vault.hcl', dest: '{{ vault_dir }}/config/vault.hcl' }

# Start Vault
- name: Start Vault
  ansible.builtin.command:
    cmd: "docker compose -f vault-stack.yml up -d"
    chdir: "{{ compose_dir }}"
  register: vault-stack_result
  until: vault-stack_result.rc == 0
  retries: 5
  delay: 10