---
# Create Apps Directory
- name: Create apps directory
  ansible.builtin.file:
    path: "{{ app_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - airsonic

# Create Airsonic Directory
- name: Create aisonic directories
  ansible.builtin.file:
    path: "{{ airsonic_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - cache
    - config
    - db
    - lasffmcache
    - media
    - playlists
    - podcasts
    - thumbs
    - transcode

# Copy Airsonic config
- name: Copy airsonic config
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/airsonic-stack.yml', dest: '{{ airsonic_dir }}/airsonic-stack.yml' }
    #- { src: 'files/airsonic.conf', dest: '{{ nginx_dir }}/conf.d/airsonic.conf' }

# Start Airsonic Stack
- name: Start airsonic stack
  ansible.builtin.command:
    chdir: "{{ airsonic_dir }}"
    cmd: "docker compose -f airsonic-stack.yml up -d"
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 10

# Display compose output
- name: Display compose result standard output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ compose_result.stdout_lines }}"
  when: compose_result.stdout_lines is defined

# Copy Airsonic nginx config
- name: Copy dragonfly nginx config
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ nginx_dir }}/conf.d/{{ item }}"
    mode: 0644
    owner: root
  loop:
    - airsonic.conf
  notify: Restart nginx
