#SPDX-License-Identifier: MIT-0
---
- name: Populate service facts
  ansible.builtin.service_facts: {}

- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Setup vault
  ansible.builtin.include_tasks: vault.yml