---
# Create Vault Directory
- name: Create vault directory
  ansible.builtin.file:
    path: "{{ vault_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - config
    - data
    - logs
    - plugins
    - tls

# Copy vault config & cert
- name: Copy vault config and cert
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/{{ domain }}.cert', dest: '{{ vault_dir }}/tls/{{ domain }}.crt' }
    - { src: 'files/{{ domain }}.key', dest: '{{ vault_dir }}/tls/{{ domain }}.key' }
    - { src: 'files/vault-stack.yml', dest: '{{ vault_dir }}/vault-stack.yml' }
    - { src: 'files/vault.hcl', dest: '{{ vault_dir }}/config/vault.hcl' }

# Start Vault
- name: Start Vault
  ansible.builtin.command:
    chdir: "{{ vault_dir }}"
    cmd: "docker compose -f vault-stack.yml up -d"
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 10

# Display compose output
- name: Display compose result standard output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ compose_result.stdout_lines }}"
  when: compose_result.stdout_lines is defined