{
  "data-root": "/srv/dev-disk-by-uuid-ff1b1617-0bd4-45a8-8a10-e859b8de7f80/ARCHIVE/docker",
  "insecure-registries": ["https://{{ domain }}"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3",
    "labels-regex": "^.+"
  }
}
