{
  "data-root": "/srv/dev-disk-by-uuid-257808ca-8f49-439b-88a7-3971eda1121c/DATA/docker",
  "insecure-registries": ["https://{{ domain }}"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3",
    "labels-regex": "^.+"
  }
}
