#!/bin/bash
nginx="docker.io/nginx"
superasian="registry.superasian.net/nginx"
tags=("stable" "stable-alpine" "stable-bookwork" "1.28.0" "1.28" "1.28-alpine" "1.28.0-alpine" "1.28-bookworm" "1.28.0-bookworm" "1.28.0-alpine-slim")
    for tag in ${tags[@]}; do
        docker pull $nginx:$tag
        docker tag $nginx:$tag $superasian:$tag
        docker push $superasian:$tag
        docker rmi $nginx:$tag
    done
exit 0;
