#!/bin/bash
rockylinux="docker.io/rockylinux/rockylinux"
superasian="registry.superasian.net/library/rockylinux"
tags=("10.1-ubi"
      "10.1-minimal"
      "10.1"
      "10-ubi"
      "10-minimal"
      "10"
      "9.7-minimal"
      "9.7-ubi"
      "9.7"
      "8.9-minimal"
      "8.9-ubi"
      "8.9")
    for tag in ${tags[@]}; do
        docker pull $rockylinux:$tag
        docker tag $rockylinux:$tag $superasian:$tag
        docker push $superasian:$tag
        docker rmi $rockylinux:$tag
    done
exit 0;
