global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

# Load rules once and periodically evaluate them
rule_files:
  - "rules/*.yml"

# Scrape configurations
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'harbor-exporter'
    scrape_interval: 20s
    static_configs:
      # Scrape metrics from the Harbor exporter component
      - targets: ['{{ harbor_ip }}:9090']

  - job_name: 'harbor-core'
    scrape_interval: 20s
    params:
      # Scrape metrics from the Harbor core component
      comp: ['core']
    static_configs:
      - targets: ['{{ harbor_ip }}:9090']

  - job_name: 'harbor-registry'
    scrape_interval: 20s
    params:
      # Scrape metrics from the Harbor registry component
      comp: ['registry']
    static_configs:
      - targets: ['{{ harbor_ip }}:9090']

  - job_name: 'harbor-jobservice'
    scrape_interval: 20s
    params:
      # Scrape metrics from the Harbor jobservice component
      comp: ['jobservice']
    static_configs:
      - targets: ['{{ harbor_ip }}:9090']