---
# Create Vault Directory
- name: Create vault directory
  ansible.builtin.file:
    path: "{{ vault_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
    recurse: yes
  loop:
    - config
    - data
    - logs
    - plugins
    - ssl

# Copy vault config & cert
- name: Copy vault config and cert
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/tls.cert', dest: '{{ vault_dir }}/ssl/tls.crt' }
    - { src: 'files/tls.key', dest: '{{ vault_dir }}/ssl/tls.key' }
    - { src: 'files/vault-stack.yml', dest: '{{ vault_dir }}/vault-stack.yml' }

# Copy Vault config
- name: Copy Vault config
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ vault_dir }}/config/{{ item }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - vault.hcl
    - admin-policy.hcl

# Copy Terraform plugin
- name: Copy Terraform plugin
  ansible.builtin.shell: |
    curl -L {{ repo_url }}/terraform_1.14.5_linux_amd64 -o {{ vault_dir }}/plugins/terraform
    chmod 0755 {{ vault_dir }}/plugins/terraform
    # Must register plugin before use see >> https://developer.hashicorp.com/vault/docs/commands/plugin/register

# Start Vault
- name: Start Vault
  ansible.builtin.command:
    chdir: "{{ vault_dir }}"
    cmd: "docker compose -f vault-stack.yml up -d"
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 10

# Display compose output
- name: Display compose result standard output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ compose_result.stdout_lines }}"
  when: compose_result.stdout_lines is defined

# Copy Vault nginx config
- name: Copy vault nginx config
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ nginx_dir }}/conf.d/{{ item }}"
    mode: 0644
    owner: root
  loop:
    - vault.conf
  notify: Restart nginx
