upstream backend {
   least_conn;
   server "{{ srv_ip }}:8080";
}
# Redirect HTTP to HTTPS
server {
    listen      80;
    server_name dragonfly.superasian.net;
    return      301 https://$server_name$request_uri;
}
server {
   listen 443 ssl;
   server_name dragonfly.superasian.net;
   ssl_certificate /etc/nginx/ssl/tls.crt;
   ssl_certificate_key /etc/nginx/ssl/tls.key;
   ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

   location / {
      proxy_pass http://backend;
   }
   # Settings for Nginx Exporter
   location /nginx_status {
         stub_status on;
         allow all;
  }
}