upstream backend {
   ip_hash;
   server 10.0.0.25; 
   server 10.0.0.19;
}
server {
   listen 443 ssl;
   server_name dev.superasian.net;
   ssl_certificate /etc/nginx/ssl/tls.cert;
   ssl_certificate_key /etc/nginx/ssl/tls.key;
   ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

   location / {
      proxy_pass http://backend:8080;
   }
}