#version=RHEL8
# License agreement
eula --agreed
# Not Use graphical install
text
ignoredisk --only-use=vda
# Use CDROM installation media
#cdrom
# Run the Setup Agent on first boot
firstboot --enable

# Network information
network --bootproto=dhcp --device=enp6s18 --activate --hostname=localhost
nfs --server=10.0.0.36 --dir=/volume2/archive/pxe/rl8
repo --name="AppStream" --baseurl=nfs:10.0.0.36:/volume2/archive/pxe/rl8/AppStream
# System bootloader configuration
bootloader --location=none
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.555 --fstype="lvmpv" --ondisk=vda --size=50175
part /boot --fstype="xfs" --ondisk=vda --size=1024
volgroup rl --pesize=4096 pv.555
logvol / --fstype="xfs" --size=20476 --name=root --vgname=rl
logvol /home --fstype="xfs" --size=10240 --name=home --vgname=rl
logvol swap --fstype="swap" --size=4096 --name=swap --vgname=rl
logvol /opt --fstype="xfs" --size=5120 --name=opt --vgname=rl
logvol /var --fstype="xfs" --size=10240 --name=var --vgname=rl

%packages
@^graphical-server-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
#network --bootproto=dhcp --device=ens18 --hostname=localhost

# Run the Setup Agent on first boot
firstboot --enable

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$Qq21FOGWlPuCSaif$asaKw6sBLaHz3gbqTQcECsHhXLAR6A8LZARHCNKkD8CYPXodEZ/KbOGVcen.GOBRLoSl3wOYu8e2zj2qg/jJO0
user --groups=wheel --name=k0ng --password=$6$Knxb8YGwlQNl6irJ$XQ7pFgLnjsCdntIuQgpQdxF3SRDW2O9sYF21udzlcwOz0uxE1AX6SupXTr.7gdbK8Bpk162nj4/UeN5yb4ihh1 --iscrypted --gecos="Pham Computer Science"

%addon ADDON_placeholder --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end