---
# Debian full system upgrade
- name: Debian system updates
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist
    autoremove: yes
  register: apt_update_result
  when:
    - ansible_os_family == 'Debian' or ansible_os_family == 'Ubuntu'

# Display system upgrade output
- name: Display update output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ apt_update_result.stdout_lines }}"
  when: apt_update_result.stdout_lines is defined

# Check for reboot-required file
- name: Check for reboot-required file
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required_file

- name: Notify handler if reboot is required
  ansible.builtin.debug:
    msg: "Reboot is required for {{ inventory_hostname }}"
  when: reboot_required_file.stat.exists == true
  notify: Reboot host

# Install omvextra & docker compose
- name: Install omvextra & docker compose
  ansible.builtin.shell:
    cmd: |
      apt update && apt install -y apt-transport-https bmon ca-certificates curl git htop lm-sensors python-is-python3 strace wget zip unzip   
      wget -O - https://github.com/OpenMediaVault-Plugin-Developers/packages/raw/master/install | bash
      apt update && apt install -y openmediavault-compose openmediavault-hosts openmediavault-fail2ban 
      apt update && apt install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
  when:
    - ansible_os_family == 'Debian'
