---

# Debian full system upgrade
- name: Debian system updates
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist
    autoremove: yes
  register: apt_update_result
  when:
    - ansible_os_family == 'Debian' or ansible_os_family == 'Ubuntu'

# Redhat full system upgrade
- name: "[RHEL] Update packages"
  ansible.builtin.dnf:
    update_cache: yes
    name: "*"
    state: latest
    exclude: "{{ gbt_packages_versionlock|d() }}"
    use_backend: dnf4
  register: _gbt_packages_update_output
  when:
    - ansible_os_family == 'RedHat' or ansible_os_family == 'Rocky'

# Output for debug
- name: "[RHEL] [INFO] Print installed/updated packages"
  when: _gbt_packages_update_output.skipped is not defined
  ansible.builtin.debug:
    var: _gbt_packages_update_output.results|d()

- name: Check for reboot-required file
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required_file

- name: Notify handler if reboot is required
  ansible.builtin.debug:
    msg: "Reboot is required for {{ inventory_hostname }}"
  when: reboot_required_file.stat.exists == true
  notify: Reboot host

# Disable Firewalld
- name: Disable FIREWALLD
  ansible.builtin.systemd:
    name: firewalld
    state: stopped
    enabled: false
  when:
    - ansible_facts.services["firewalld.service"] is defined
    - ansible_facts.services["firewalld.service"].status != "not-found"

# Install omvextra & docker compose
- name: Install omvextra & docker compose
  ansible.builtin.shell:
    cmd: |
      apt update && apt install -y apt-transport-https bmon ca-certificates curl git htop lm-sensors python-is-python3 strace wget zip unzip   
      wget -O - https://github.com/OpenMediaVault-Plugin-Developers/packages/raw/master/install | bash
      apt update && apt install -y openmediavault-compose openmediavault-hosts openmediavault-fail2ban 
      apt update && apt install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
  when:
    - ansible_os_family == 'Debian'

# Install docker for (RHEL) platform
- name: Install & Enable docker
  ansible.builtin.shell:
    cmd: |
      dnf -y install ca-certificates curl git strace wget unzip zip
      dnf config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo
      dnf -y install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
      systemctl enable docker --now
  when:
    - ansible_os_family == 'RedHat' or ansible_os_family == 'Rocky'

# Create Apps Directory
- name: Create apps directory
  ansible.builtin.file:
    path: "{{ app_dir }}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"

# Create Common Directory
- name: Create common directory
  ansible.builtin.file:
    path: "{{ app_dir }}/{{ item}}"
    state: directory
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - portainer
    - common

# Copy common stack config
- name: Copy common stack config
  ansible.builtin.copy:
    src: "files/common-stack.yml"
    dest: "{{ common_dir }}/common-stack.yml"
    mode: 0644
    owner: "{{ app_user }}"

# Start Common Stack
- name: Start common stack
  ansible.builtin.command:
    chdir: "{{ common_dir }}"
    cmd: "docker compose -f common-stack.yml up -d"
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 10

# Display compose output
- name: Display compose result standard output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ compose_result.stdout_lines }}"
  when: compose_result.stdout_lines is defined

# Copy docker config 
- name: Copy daemon.json
  ansible.builtin.template:
    src: "daemon.json.j2"
    dest: "/etc/docker/daemon.json"
  notify: Restart docker
