---
# Redhat full system upgrade
- name: "[RHEL] Update packages"
  ansible.builtin.dnf:
    update_cache: yes
    name: "*"
    state: latest
    exclude: "{{ gbt_packages_versionlock|d() }}"
    use_backend: dnf4
  register: _gbt_packages_update_output
  when:
    - ansible_os_family == 'RedHat' or ansible_os_family == 'Rocky'

# Output for debug
- name: "[RHEL] [INFO] Print installed/updated packages"
  when: _gbt_packages_update_output.skipped is not defined
  ansible.builtin.debug:
    var: _gbt_packages_update_output.results|d()

- name: Check for reboot-required file
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required_file

- name: Notify handler if reboot is required
  ansible.builtin.debug:
    msg: "Reboot is required for {{ inventory_hostname }}"
  when: reboot_required_file.stat.exists == true
  notify: Reboot host

# Install docker for (RHEL) platform
- name: Install & Enable docker
  ansible.builtin.shell:
    cmd: |
      dnf -y install ca-certificates curl git strace wget unzip zip
      dnf config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo
      dnf -y install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
      systemctl enable docker --now
  when:
    - ansible_os_family == 'RedHat' or ansible_os_family == 'Rocky'

