---
- name: Populate service facts
  ansible.builtin.service_facts: {}

- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

# Create harbor domain
- name: Create harbor domain
  ansible.builtin.file:
    path: "/etc/docker/certs.d/{{ domain }}"
    state: directory
    mode: '0755'
    owner: root

# Copy certs to harbor domain
- name: Copy certs
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: root
  loop:
    - { src: 'files/tls.cert', dest: '/etc/docker/certs.d/{{ domain }}/tls.cert' }
    - { src: 'files/tls.key', dest: '/etc/docker/certs.d/{{ domain }}/tls.key' }

# Add daemon config
- name: Copy daemon.json
  ansible.builtin.template:
    src: "daemon.json.j2"
    dest: "/etc/docker/daemon.json"
  notify: Restart docker

# Create Harbor Directories
- name: Create Harbor data directory
  ansible.builtin.file:
    path: "{{ harbor_dir }}/{{ item }}"
    state: directory
    mode: 0755
    owner: root
  loop:
    - data
    - cert
    - scripts

# Copy repos script
- name: Copy repos scripts
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ harbor_dir }}/repos/{{ item }}"
    mode: 0755
    owner: "{{ app_user }}"
  loop:
    - apache
    - artifactory
    - bitnami
    - debian
    - gitlab-ee
    - gitlab-runner-helper
    - gitlab-runner
    - harbor.sh
    - httpd
    - nginx
    - postgres
    - rockylinux
    - ubuntu

# Copy certs & config
- name: Copy certs
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ app_user }}"
  loop:
    - { src: 'files/tls.cert', dest: '{{ harbor_dir }}/cert/tls.cert' }
    - { src: 'files/tls.key', dest: '{{ harbor_dir }}/cert/tls.key' }
    - { src: 'files/harbor.yml', dest: '{{ harbor_dir }}/harbor.yml' }

- name: Extract the tar.gz archive
  ansible.builtin.unarchive:
    src: "{{ github_url }}/{{ harbor_version }}/harbor-offline-installer-{{ harbor_version }}.tgz"
    dest: "{{ harbor_dir }}"
    remote_src: yes
    owner: "{{ app_user }}"
    #mode: "0755"
    extra_opts: ['--strip-components=1'] # Optional: To remove the top-level directory during extraction

# Check the system for error
- name: Check system for error
  ansible.builtin.shell:
    chdir: "{{ harbor_dir }}"
    cmd: |
      ./prepare
  register: command_output

# Display prepare output
- name: Display prepare command's standard output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ command_output.stdout_lines }}"

# Install Harbor
- name: Install Harbor
  ansible.builtin.shell:
    chdir: "{{ harbor_dir }}"
    cmd: |
      ./install.sh --with-trivy
  register: install_output
  when: command_output is succeeded

# Display install output
- name: Display install command's standard output lines
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ install_output.stdout_lines }}"