---
# Create Artifactory Directory
- name: Create artifactory directory
  ansible.builtin.file:
    path: "{{ app_dir }}/artifactory"
    state: directory
    mode: 0755
    owner: "{{ artifactory_user }}"
    group: "{{ artifactory_group }}"
    recurse: yes

# Create Artifactory Directory
- name: Create artifactory directory
  ansible.builtin.file:
    path: "{{ app_dir }}/artifactory/{{ item }}"
    state: directory
    mode: 0755
    owner: "{{ artifactory_user }}"
    group: "{{ artifactory_group }}"
  loop:
    - app
    - var
    - var/etc
    - var/etc/security

# Remove all existing files in artifactory directory
- name: Remove existing files in artifactory directory
  ansible.builtin.command:
    cmd: "rm -rf *"
    chdir: "{{ app_dir }}/artifactory/var/etc"

- name: Copy and extract tar file
  ansible.builtin.unarchive:
    src: "{{ repo_url }}/{{ product }}-{{ version }}-compose.tar.gz"  # Path to the archive on the Ansible control machine
    dest: "{{ app_dir }}"             # Absolute path on the remote host where the archive will be extracted
    remote_src: true                     # Set to 'yes' if the archive is already on the remote host
    owner: "{{ app_user }}"            # (Optional) User to own the extracted files
    mode: '0755'                       # (Optional) Permissions for the extracted files
    #extra_opts: ['--strip-components=1'] # (Optional) Pass extra options to the unarchive command (e.g., to strip directories)

# Copy environment file
- name: Copy environment file
  ansible.builtin.template:
    src: "templates/artifactory-env.j2"
    dest: "{{ app_dir }}/{{ product }}-{{ version }}/.env"
    mode: 0755
    owner: "{{ app_user }}"

# Copy system yaml
- name: Copy system config
  ansible.builtin.copy:
    src: "{{ item.src}}"
    dest: "{{ item.dest }}"
    mode: 0644
    owner: "{{ artifactory_user }}"
    group: "{{ artifactory_group }}"
  loop:
    - { src: 'files/system.yaml', dest: '{{ app_dir }}/artifactory/var/etc/system.yaml' }
    - { src: 'files/join.key', dest: '{{ app_dir }}/artifactory/var/etc/security/join.key' }
    - { src: 'files/master.key', dest: '{{ app_dir }}/artifactory/var/etc/security/master.key' }

# Copy docker compose yaml
- name: Copy docker-compose config
  ansible.builtin.copy:
    src: "files/docker-compose.yaml"
    dest: "{{ app_dir }}/{{ product }}-{{ version }}/docker-compose.yaml"
    mode: 0644
    owner: "{{ app_user }}"

# Start Artifactory
- name: Start Artifactory
  ansible.builtin.command:
    cmd: "docker compose -p rt up -d"
    chdir: "{{ app_dir }}/{{ product }}-{{ version }}"
  register: compose_result
  until: compose_result.rc == 0
  retries: 5
  delay: 10

# Wait for Artifactory to be up
- name: Wait for Artifactory to be up
  ansible.builtin.uri:
    url: "http://localhost:8082/artifactory/api/system/ping"
    method: GET
    status_code: 200
  register: result
  until: result.status == 200
  retries: 10
  delay: 30

# End User License Agreement
- name: Accept End User License Agreement
  ansible.builtin.command:
    cmd: "curl -XPOST -vu 'admin:password' http://localhost:8082/artifactory/ui/jcr/eula/accept"
  register: ula_result
  until: ula_result.rc == 0
  retries: 5
  delay: 10

# Copy Artifactory nginx config
- name: Copy Artifactory nginx config
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "{{ nginx_dir }}/conf.d/{{ item }}"
    mode: 0644
    owner: root
  loop:
    - artifactory.conf
  notify: Restart nginx